# Ignore everything in ne-winter-rain/
* 

# Allow all files in ne-winter-rain/ (override previous rule)
!*/

# Ignore everything inside ne-winter-rain/ghcn/
ghcn/*

# Allow .py and .txt files inside ne-winter-rain/ghcn/
!ghcn/*.py
!ghcn/*.txt

#!/local1/storage1/jml559/ne-winter-rain/ghcn/*.py
#!ghcn/*
#ghcn/*
#!ghcn/*.py
*.MESSAGE
*.out

